/* reset */
* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
a {
	color: #000000;
	text-decoration: none;
}

.max_width {
	width: 100%;
	max-width: 1650px;
	padding: 0 40px;
	margin: 0 auto;
	position: relative;
}

.default_section {
	position: relative;
}
.default_section_top {
	background-color: #f7d14c;
}
.default_section_top_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 125px;
}
.default_section_top_title {
	font-size: 50px;
	line-height: 54px;
	font-weight: bold;
}

.about_nav {
	height: 100%;
}
.about_nav_ul {
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.about_nav_ul_hr {
	height: 22px;
	background: #ffffff;
	border: none;
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 136px;
	transform: translateX(10px);
	transition: 0.4s all ease-in-out;
}
.about_nav_ul_li {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
    margin: 0;
}
	.about_nav_ul_li:nth-child(2):hover ~ .about_nav_ul_hr {
		width: 123px;
		transform: translateX(166px);
	}
	.about_nav_ul_li:nth-child(3):hover ~ .about_nav_ul_hr {
		width: 179px;
		transform: translateX(309px);
	}
	.about_nav_ul_li:nth-child(4):hover ~ .about_nav_ul_hr {
		width: 211px;
		transform: translateX(508px);
	}
	.about_nav_ul_li:nth-child(5):hover ~ .about_nav_ul_hr {
		width: 225px;
		transform: translateX(739px);
	}
	.about_nav_ul_li:nth-child(6):hover ~ .about_nav_ul_hr {
		width: 106px;
		transform: translateX(984px);
	}
.about_nav_ul_li_a {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 27px;
	line-height: 30px;
	font-weight: bold;
	padding: 0 16px;
	cursor: pointer;
}
